body{
    background-color: brown;
    #root{
        background-color: pink;
        width: 200px;
        height: 200px;
        img{
            width: 100px;
            height: 100px;
        }
    }
}